/**
* @Date:   2017-05-19T23:24:44-03:00
* @Last modified time: 2017-05-21T18:12:40-03:00
*/



@charset "utf-8";
@import url('fonts.css');
/*
FONTS DISPONIVEIS

*/
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top5{margin-top:5px;}
.top7{margin-top:7px;}
.top8{margin-top:8px;}
.top10{margin-top:10px !important;}
.top15{margin-top:15px !important;}
.top20{margin-top:20px !important;}
.top25{margin-top:25px !important;}
.top30{margin-top:30px !important;}
.top35{margin-top:35px !important;}
.top40{margin-top:40px !important;}
.top45{margin-top:45px !important;}
.top50{margin-top:50px !important;}
.top55{margin-top:55px !important;}
.top60{margin-top:60px !important;}
.top65{margin-top:65px !important;}
.top70{margin-top:70px !important;}
.top75{margin-top:75px !important;}
.top80{margin-top:80px !important;}
.top85{margin-top:85px !important;}
.top90{margin-top:90px !important;}
.top100{margin-top:100px !important;}
.top105{margin-top:105px !important;}
.top115{margin-top:115px !important;}
.top120{margin-top:120px !important;}
.top145{margin-top:145px !important;}
.top150{margin-top:150px !important;}
.top170{margin-top:170px !important;}
.top200{margin-top:200px !important;}
.top220{margin-top:220px !important;}
.top265{margin-top:265px !important;}
.top195{margin-top:195px !important;}
.top210{margin-top:210px !important;}
.top290{margin-top:290px !important;}
.top350{margin-top:350px !important;}
.top380{margin-top:380px !important;}
.top395{margin-top:395px !important;}
.top450{margin-top:450px !important;}


.bottom5{margin-bottom:5px !important;}
.bottom10{margin-bottom:10px !important;}
.bottom15{margin-bottom:15px !important;}
.bottom20{margin-bottom:20px !important;}
.bottom25{margin-bottom:25px !important;}
.bottom30{margin-bottom:30px !important;}
.bottom35{margin-bottom:35px !important;}
.bottom40{margin-bottom:40px !important;}
.bottom45{margin-bottom:45px !important;}
.bottom50{margin-bottom:50px !important;}
.bottom55{margin-bottom:55px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom65{margin-bottom:65px !important;}
.bottom70{margin-bottom:70px !important;}
.bottom75{margin-bottom:75px !important;}
.bottom80{margin-bottom:80px !important;}
.bottom90{margin-bottom:90px !important;}
.bottom100{margin-bottom:100px !important;}
.bottom120{margin-bottom:120px !important;}
.bottom135{margin-bottom:135px !important;}
.bottom180{margin-bottom:180px !important;}
.bottom200{margin-bottom:200px !important;}
.bottom220{margin-bottom:220px !important;}
.bottom280{margin-bottom:280px !important;}

.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left81{margin-left:81px;}
.left130{margin-left:130px;}
.left270{margin-left:270px;}
.right5{margin-right:5px;}
.right10{margin-right:10px !important;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right22{margin-right:22px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right90{margin-right:90px;}
.right100{margin-right:100px;}
.right130{margin-right:130px;}

.pt0{padding-top:0px !important;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt300{padding-top:300px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb200{padding-bottom:200px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}

.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pl0{padding-left:0;}
.pl5{padding-left:5px;}
.pg20{padding: 20px !important;}

.container{width:1170px !important;}
.input100{width:100% !important;}

body{
	font-family: 'Lato', sans-serif !important;
	font-weight: 400 !important;
}

h1{
	font-size: 15px;
	color: #000;

}



h1 span {


}

h2 {
	font-size: 14px;
	color: #000;
	font-family:"Lato Black";
}

h2 span{
	font-size: 20px;

}


h3{
	font-size: 30px;
	color: #000;
	font-family: 'Lato', sans-serif !important;
	font-weight: 300;
}

h3 span{
	font-family:"Lato Black";

}

h4 {

}



h5{
	/*font-weight: 400;
	color: #000;
	font-size: 47px;
	line-height: 34px;
	font-family:"Lato Black";*/
}

h5 span{

}

h6{
	/*
	color: #fff;
	font-weight: 400;
	text-shadow:1px 2px 5px #0f0f0f;*/
}

h6 span{

}



p{
	font-size: 17px;
	color: #000;
	text-align:justify;
	font-weight: 300;
}

p span{
	/*font-size: 18px;*/

}

.font-futura{font-family:futura__condensed;}

.lato_bold{
	font-family:"Lato Bold";}

	.MyriadPro_Regular{
		font-family:MyriadPro-Regular;}

		.lato_black{
			font-family:"Lato Black";
		}

		a:hover{
			text-decoration: none !important;
		}

		.media-left,
		.media-right,
		.media-body {
			vertical-align: middle !important;
		}

		.relativo{
			position: relative;
		}



		input,
		select,
		textarea{
			min-height: 42px;
			color:#000;
			border-radius: 0 !important;
			font-size: 20px;
			font-weight: 400;
		}


		::-webkit-input-placeholder {
			color      : #000;
			font-family: 'Lato', sans-serif;
			font-family: 400;
			font-size  : 13px;
		}

		:-moz-placeholder {
			color      : #000;
			font-family: 'Lato', sans-serif;
			font-family: 400;
			font-size  : 13px;
		}

		::-moz-placeholder {
			color      : #000;
			font-family: 'Lato', sans-serif;
			font-family: 400;
			font-size  : 13px;
		}

		:-ms-input-placeholder {
			color      : #000;
			font-family: 'Lato', sans-serif;
			font-family: 400;
			font-size  : 13px;
		}

		.btn{
			border-radius: 0px;
		}


		.padding0{
			padding: 0px !important;
		}



		/*==================================================
		* Effect 2
		* ===============================================*/
		.effect2
		{
			position: relative;
		}
		.effect2:before, .effect2:after
		{
			z-index: -1;
			position: absolute;
			content: "";
			bottom: 15px;
			left: 10px;
			width: 50%;
			top: 80%;
			max-width:300px;
			background: #777;
			-webkit-box-shadow: 0 15px 10px #777;
			-moz-box-shadow: 0 15px 10px #777;
			box-shadow: 0 15px 10px #777;
			-webkit-transform: rotate(-3deg);
			-moz-transform: rotate(-3deg);
			-o-transform: rotate(-3deg);
			-ms-transform: rotate(-3deg);
			transform: rotate(-3deg);
		}
		.effect2:after
		{
			-webkit-transform: rotate(3deg);
			-moz-transform: rotate(3deg);
			-o-transform: rotate(3deg);
			-ms-transform: rotate(3deg);
			transform: rotate(3deg);
			right: 10px;
			left: auto;
		}




		/**
		============================================
		TOPO
		============================================
		*/

		.topo{
			background: #444c69 bottom center;
			height: 52px;
		}
		.endereco_topo p{
			color: #000000;
			font-size    : 15px;
			font-weight: 400;
		}




		.endereco_empresa p{
			color: #000000;
			font-size    : 20px;
			font-weight: 300;
		}

		.btn_topo{
			background: #444c69;
			color: #fff;
		}

		.btn_topo:hover{
			background: #212a49;
			color: #fff;
		}


		.endereco_topo .telefone_rodape p{
			color: #000000;
			font-size    : 25px;
			font-family: "Lato Bold";
		}

		.endereco_empresa .telefone_rodape p{
			color: #000000;
			font-size    : 25px;
			font-family: "Lato Bold";
		}

		.endereco_topo .telefone_rodape p span{
			color: #000000;
			font-size    : 17px;
			font-weight  : 300;
			font-family: 'Lato', sans-serif !important;
		}

		.btn_carrinho{
			background: #fff !important;
			-webkit-appearance: inherit !important;
		}

		.menu .btn_topo {
			color: #fff;
			background: #282c49;

			border: #2e6da4;
		}

		.menu .btn_topo:hover {
			background: #337ab7;

		}

		.dropdown{
			cursor: pointer;
		}

		.logo{
			position: relative;
			z-index: 10;
		}

		.badge{
			position: absolute;
			bottom: 7px;
			left: 12px;
			background: #000;
			color: #fff;
			font-size: 15px;
			text-align: center;
			font-family:"Lato Black";
			padding: 7px;
			border-radius: 0;
		}


		.topo-meu-cat{
			background:#354066 /*url(../imgs/sombra_cat.png) bottom center no-repeat*/;
			width:271px !important;
			border-radius: 0;
			padding:15px;
			margin: 0;
		}

		.topo-meu-cat h1{
			font-size: 15px;
			color: #fff;
		}

		.topo-meu-cat .list-group-item {
			text-decoration: none;
			background: none;
			border: inherit;
		}

		.topo-meu-cat .list-group-item:hover,
		.topo-meu-cat a.list-group-item:focus,
		.topo-meu-cat a.list-group-item.active {
			background-color: #3c4a73;
			color: #3c3834;
		}


		.topo-meu-orcamento{
			background:#fff;
			width:470px !important;
			margin-left: -173px;
			padding:15px;
		}


		.lista-itens-carrinho{
			margin: 10px 0px;
			overflow: hidden;
			border-bottom: 2px solid #e5e5e5;
			margin-bottom: 20px;
		}


		.lista-itens-carrinho h1{
			font-size: 16px !important;
			margin: inherit;
		}


		.menu a{
			font-size: 15px;
			color: #fff;
			font-weight: 400;

		}

		.menu .navbar-nav > li > a{
			padding: 6px 8px;
			margin-top: 12px;

		}

		.menu .navbar-nav > li{
			margin-right: 15px;
		}

		.menu .nav>li>a:hover,
		.menu .nav>li>a:focus,
		.menu .nav li a.active{
			font-weight: 700;
			background: none;
			-webkit-transition: color 0.3s;
			-moz-transition: color 0.3s;
			transition: color 0.3s;
		}


		.bootstrap-select>.dropdown-toggle,
		.bootstrap-select>.dropdown-toggle:hover,
		.bootstrap-select>.dropdown-toggle.active,
		.bootstrap-select>.dropdown-toggle:focus {
			height: 45px;
			border: 1px solid #c8c8c8;
			border-radius: 0px;
			font-weight: 700;
			color: #000;
			font-size: 15px;
			background: none;
			width: 198px !important;
		}

		.filtro_produtos .bootstrap-select>.dropdown-toggle,
		.filtro_produtos .bootstrap-select>.dropdown-toggle:hover,
		.filtro_produtos .bootstrap-select>.dropdown-toggle.active,
		.filtro_produtos .bootstrap-select>.dropdown-toggle:focus {
			height: 45px;
			border: 1px solid #c8c8c8;
			border-radius: 0px;
			font-weight: 700;
			color: #000;
			font-size: 15px;
			background: none;
			width: 100% !important;
		}


		.bootstrap-select .dropdown-toggle:focus {
			outline: thin dotted #c8c8c8!important;
			outline: 1px auto -webkit-focus-ring-color!important;
			outline-offset: -2px;
		}



		/**
		============================================
		TOPO
		============================================
		*/
		/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
		/* ------------------------------- BANNER  ------------------------------- */
		/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
		#container_banner {
			width   :100%;
			height  :500px;
			margin  :0px auto;
			overflow:hidden;
			position: relative;
			margin-top: 0px;
			z-index: 1;
		}

		#content_slider {
			width      :1920px;
			position   :absolute;
			margin-left:-960px;
			top        :0px;
			left       :50%;
		}


		.container_fundo_servico {
			width: 100%;
			margin: 0px auto;
			overflow: hidden;
			position: relative;
			z-index: 1;

		}


		.content_fundo_servico {
			width: 1186px;
			min-height: 831px;
			position: absolute;
			margin-left: -959px;
			top: 0px;
			left: 50%;
			background: #fff;
		}

		.content_fundo_servico_dentro {
			width: 1186px;
			min-height: 831px;
			position: absolute;
			margin-left: -959px;
			top: 0px;
			left: 50%;
			background: #fff;
		}


		#content-slider-1 .rsContent{
			height: 100px;
			position: absolute;
			z-index: 1000;
			top: 100px;
		}

		#content-slider-1 .rsContent h1{
			font-size: 40px;
			color: #fff;
			font-family:"Lato Black";
			text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
		}

		#content-slider-1 .rsTabs {
			width: 150px;
			height: 50px;
			z-index: 9999;
			position: absolute;
			left: 396px;
			top: 460px;
			text-shadow: -4px -3px 2px rgba(0, 0, 0, 0.76);
		}

		#content-slider-1 .rsNavItem {
			background   : #fff;
			width        : 25px;
			opacity      : 0.4;
			height       : 25px;
			float        : left;
			margin-right : 10px;
			cursor       : pointer;
			border-radius: 50%;
			/*box-shadow: -2px 2px rgba(0,0,0,0.6);
			-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-o-box-shadow: -2px 2px rgba(0,0,0,0.6);*/



		}

		#content-slider-1 .rsNavSelected {
			opacity  : 1;
			background: #fff;
			/*box-shadow: -2px 2px rgba(0,0,0,0.6);
			-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-o-box-shadow: -2px 2px rgba(0,0,0,0.6);*/

		}


		/*arrow personalizados*/
		#container_banner .rsArrowLeft {
			display: block;
			width: 32px;
			height: 58px;
			background: url(../imgs/arrow_left.png) center no-repeat;
			z-index: 999;
			top: 214px;
			position: absolute;
			left: 668px;
		}

		#container_banner .rsArrowRight {
			display: block;
			width: 32px;
			height: 58px;
			background: url(../imgs/arrow_right.png) center no-repeat;
			z-index: 999;
			top: 214px;
			position: absolute;
			right: 378px;
		}
		/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
		/* ------------------------------- BANNER  ---------------------------- */
		/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
		/**/




		/**
		============================================
		rodape
		============================================
		*/

		.scrollup{width:65px;height:65px;opacity:0.5;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}
		.scrollup{width:65px;height:65px;opacity:0.5;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}




		/*breadcrumb  branco*/
		.breadcrumbs_branco .breadcrumb {
			font-size    :21px;
			background   : none;
			padding: 15px;
			margin-left: -52px;
			color: #fff;
		}


		.breadcrumbs_branco .breadcrumb i{
			border-radius: 50%;
			border       : 1px solid #fff;
			padding      :5px;
			color: #fff;
		}

		.breadcrumbs_branco .breadcrumb a i:hover{
			color: #444c69;
		}

		.breadcrumbs_branco .breadcrumb i:hover,
		.breadcrumbs_branco .breadcrumb a:hover{
			color:#fff;
		}

		.breadcrumbs_branco .breadcrumb>.active {
			color: #fff;
		}

		.breadcrumbs_branco .breadcrumb a {
			text-decoration: none;
			outline        : none;
			display        : block;
			float          : left;
			font-size      : 20px;
			font-family: "Lato Bold";
			line-height    : 36px;
			color          : #fff;
			padding        : 0 10px 0 24px;
			position       : relative;
		}

		.breadcrumbs_branco .breadcrumb a:hover {
			color          : #fff;
		}

		.breadcrumbs_branco .breadcrumb a:after {
			content : '';
			position: absolute;
			top     : 7px;
			right : -10px;
			width : 20px;
			height: 20px;
			transform: scale(0.707) rotate(45deg);
			z-index: 1;
			box-shadow: 2px -2px 0 2px rgba(255, 255, 255, 0.1),
			2px -2px 0 1px rgba(255, 255, 255,1);
			border-radius: 0 5px 0 50px;
		}

		.breadcrumbs_branco .breadcrumb a:last-child:after {
			content: none;
		}



		/*breadcrumb  preto*/
		.breadcrumbs_preto .breadcrumb {
			font-size    :21px;
			background   : none;
			padding: 15px;
			margin-left: -52px;
			color: #000;
		}


		.breadcrumbs_preto .breadcrumb i{
			border-radius: 50%;
			border       : 1px solid #000;
			padding      :5px;
			color: #000;
		}

		.breadcrumbs_preto .breadcrumb a i:hover{
			color: #444c69;
		}

		.breadcrumbs_preto .breadcrumb i:hover,
		.breadcrumbs_preto .breadcrumb a:hover{
			color:#000;
		}

		.breadcrumbs_preto .breadcrumb>.active {
			color: #000;
		}

		.breadcrumbs_preto .breadcrumb a {
			text-decoration: none;
			outline        : none;
			display        : block;
			float          : left;
			font-size      : 20px;
			font-family: "Lato Bold";
			line-height    : 36px;
			color          : #000;
			padding        : 0 10px 0 24px;
			position       : relative;
		}

		.breadcrumbs_preto .breadcrumb a:hover {
			color          : #000;
		}

		.breadcrumbs_preto .breadcrumb a:after {
			content : '';
			position: absolute;
			top     : 7px;
			right : -10px;
			width : 20px;
			height: 20px;
			transform: scale(0.707) rotate(45deg);
			z-index: 1;
			box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.1),
			2px -2px 0 1px rgba(0, 0, 0,1);
			border-radius: 0 5px 0 50px;
		}

		.breadcrumbs_preto .breadcrumb a:last-child:after {
			content: none;
		}




	.div_personalizada{
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}

	.rodape{
		background : #dfe5e8;
	}

	.rodape-preto{
		background :#000;
	}

	.rodape-preto h5{
		font-size  :20px;
		color      : #fff;
		font-weight: 300;
	}

	.endereco_rodape p{
		color: #000000;
		font-size    : 19px;
		font-weight: 400;
	}


	.endereco_rodape .telefone_rodape p{
		color: #000000;
		font-size    : 25px;
		font-family: "Lato Bold";
	}

	.endereco_rodape .telefone_rodape p span{
		color: #000000;
		font-size    : 17px;
		font-weight  : 300;
		font-family: 'Lato', sans-serif !important;
	}
	.menu_rodape li a {
		color        : #000000;
		font-size    : 19px;
		font-weight  : 300;
		margin-right : 30px;
	}

	.icon-rodape {
		color: #000000;
	}

	.menu_rodape li:hover a,
	.menu_rodape li.active a{
		font-family: "Lato Bold";
		color: #000;
	}


	.menu_rodape {
		list-style : none;
		padding    : 0px;
	}

	.barra_branca {
		border-bottom  : 1px solid #fff;
		padding-bottom : 40px;
	}

	.menu_rodape li {
		float : left;
	}


	/**
	============================================
	rodape
	============================================
	*/

	/**
	============================================
	HOME
	============================================
	*/
	#carousel-example-generic-equipe .carousel-indicators,.slider-parceiros-clientes .carousel-indicators,#carousel-example-generic-clientes .carousel-indicators,.slider-parceiros-clientes .carousel-indicators{top:-63px; right: 0px;}
	#carousel-example-generic-equipe .carousel-indicators li,.slider-parceiros-clientes .carousel-indicators li,#carousel-example-generic-clientes .carousel-indicators li,.slider-parceiros-clientes .carousel-indicators li,#carousel-example-generic-empresa .carousel-indicators li,.slider-parceiros-empresa .carousel-indicators li{width:20px;height:20px;background:#7f7f7f;border:none;margin-right:5px!important;}
	#carousel-example-generic-equipe .carousel-indicators .active,.slider-parceiros-clientes .carousel-indicators .active,#carousel-example-generic-clientes .carousel-indicators .active,.slider-parceiros-clientes .carousel-indicators .active,#carousel-example-generic-empresa .carousel-indicators .active,.slider-parceiros-empresa .carousel-indicators .active{background:#000;margin:1px;}
	#carousel-example-generic-equipe .carousel-control.left,#carousel-example-generic-equipe .carousel-control.right,.slider-parceiros-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-empresa .carousel-control.left,#carousel-example-generic-empresa .carousel-control.right,.slider-parceiros-empresa .carousel-control.left,.slider-parceiros-empresa .carousel-control.right{background:none;}
	#carousel-example-generic-equipe .carousel-control.left,.slider-parceiros-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.left{left:995px;top:-66px;width:25px;height:25px;z-index:100;}
	#carousel-example-generic-equipe .carousel-control.right,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.right{right:-14px;top:inherit;top:-66px;width:40px;height:40px;z-index:100;}
	#carousel-example-generic-equipe .fa-chevron-left,#carousel-example-generic-equipe .fa-chevron-right,.slider-parceiros-clientes .fa-chevron-left,.slider-parceiros-clientes .fa-chevron-right,#carousel-example-generic-clientes .fa-chevron-left,#carousel-example-generic-clientes .fa-chevron-right,.slider-parceiros-clientes .fa-chevron-left,.slider-parceiros-clientes .fa-chevron-right,#carousel-example-generic-empresa .fa-chevron-left,#carousel-example-generic-empresa .fa-chevron-right,.slider-parceiros-empresa .fa-chevron-left,.slider-parceiros-empresa .fa-chevron-right{font-size:20px;color:#000;}
	/*.slider-parceiros-equipe .bg_imagem {background: url(../imgs/topo_menu_hover.png);min-height: 90px;}*/
	.lista_parceiros_clientes h1 span{font-size: 20px;color: #000;font-family:"Lato Black";}
	.lista_parceiros_clientes .desc_titulo{overflow: hidden;height: 67px;}
	#carousel-example-generic-clientes .carousel-indicators {position: absolute;bottom: 10px;left: 84%;z-index: 1;height: 60px;width: 80%;padding-left: 0;margin-left: -30%;text-align: center;list-style: none;}
	.bg_imagem{position: relative;}





	.lista-produtos-index ul{
		border: 1px solid #cecece;

	}

	.lista-produtos-index .nav-tabs>li>a{
		color: #6e6e6e;
		border: none;
		border-radius: 0;
		font-size: 15px;
		padding: 15px 30px;
	}

	.lista-produtos-index .nav-tabs>li.active>a,
	.lista-produtos-index .nav-tabs>li.active>a:hover,
	.lista-produtos-index .nav-tabs>li.active>a:focus,
	.lista-produtos-index .nav-tabs>li>a:hover{
		background: #354066;
		color: #FFF;
		border: 0;
		font-size: 15px;
		padding: 15px 30px;
	}

	.lista-produto {
		border: 1px solid #cfcfcf;
		padding: 5px 5px 0px 5px;
		margin-bottom: 20px;
		background: #fff;
	}

	.lista-produto h1 {
		height: 35px;
		overflow: hidden;
		margin-top: 10px;
	}

	.lista-produto p{
		margin-bottom: 5px;
	}

	.btn-carrinho-saiba-mais{
		background: #eeeeee;
		font-size: 15px;
		color: #000;
		font-family: "Lato Black";
		height: 45px;
		line-height: 45px;
		margin-left: -5px;
		width: 194px;
		padding-left: 10px;
	}

	.btn-carrinho-saiba-mais:hover {
		background: #d4d5d6;
		color: #000;
	}


	.btn-vermelho,
	.btn-vermelho:hover {
		color: #fff !important;
		background: #354066 !important;
	}

	.btn-carrinho {
		width: 65px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		margin-right: -5px;
	}

	.fundo_cinza{
		background: #dcdcdc;
	}

	.fundo_cinza img{
		margin-top: -27px;
		margin-left: 5px;
	}

	.stylish-input-group .input-group-addon{
		border:0;
		border-left:0px ;
		height:50px;background:#fff;
	}
	.stylish-input-group .form-control{
		font-size:17px;
		color:#000;
		height:50px;
		width: 268px;
		border-radius:0px;
		border:0;
		border-left:1px solid #dcdcdc ;
		background:#fff;
	}
	.stylish-input-group button{
		font-size:20px;
		border:0;
		background:#fff;
	}


	.filtro_produtos .stylish-input-group .form-control{
		font-size:17px;
		color:#000;
		height:40px;
		width: 100%;
		border-radius:0px;
		border:0;
		border:1px solid #c8c8c8 ;
		border-right: 0 !important	;
		background:#fff ;
	}

	.filtro_produtos .stylish-input-group button{
		font-size:20px;
		border:0;
		background:#fff;
	}

	.filtro_produtos .stylish-input-group .input-group-addon{
		border:1px solid #c8c8c8 ;
		border-left:0px ;
		height:40px;
		background:#fff;
	}


	.barra_topo .stylish-input-group .input-group-addon{
		height:45px;
		width: 50px;
		border:1px solid #dcdcdc !important;
		border-left:0px !important;
		background:#354066 !important;
	}
	.barra_topo .stylish-input-group .form-control{
		font-size:17px;
		color:#000;
		height:45px;
		width: 298px;
		border:1px solid #dcdcdc !important;
		border-radius:0px;
		background:#fff !important;
	}
	.barra_topo .stylish-input-group button{
		font-size:20px;
		border:0;
		color: #fff;
		background:#354066 !important;
	}
	.bg_servicos{
		background: url(../imgs/bg_servicos_home.jpg) center -575px no-repeat;
    	height: 583px;
	}

	.empresa_titulo h3 {
		background: url(../imgs/borda_titulo.png) bottom left no-repeat;
	}

	.empresa_titulo1 h3 {
		padding-bottom: 15px;
		background: url(../imgs/barra_empresa.jpg) bottom left no-repeat;
	}

	.barra_produto h3 {
		padding-bottom: 15px;
		background: url(../imgs/barra_produto.jpg) bottom left no-repeat;
	}


	.servicos  h1{
		font-family: "Lato Bold";
		font-size: 19px;
	}


	/*.servicos .servico_titulo {
		overflow: hidden;
		height: 27px;
	}*/

	.servicos .servicos_desc {
		overflow: hidden;
		height: 44px;
	}

	.servicos  p{
		font-size: 14px;
	}

	.btn_empresa_home {
		padding: 12px;
		background: none;
		color: #000;
		font-size: 20px;
		font-family: "Lato Black";
		border: 3px solid #000;
	}

	.servico_desc {
		overflow: hidden;
		height: 230px;
	}

	.servico_desc p{
		font-size: 22px;
	}

	.dicas_geral img:hover {
		opacity: .8;
	}



	.dicas_titulo h1 {
		font-size: 37px;
		color: #000;
		font-family: 'Lato', sans-serif !important;
		font-weight: 300;
		line-height: 38px;
	}

	.dicas_titulo h1 span{
		font-size: 62px;
		color: #000;
		font-family: "Lato Black";
	}


	.dicas_geral h1 span{
		font-size: 20px;
		color: #000;
		font-weight: 300;
	}


	.dicas_geral .thumbnail {
		padding: 0;
	}

	.dicas_desc{
		height: 68px;
		overflow: hidden;
	}

	.leia_mais_dicas {
		font-size: 14px;
		color: #888888;
	}


	.desc_empresa_missao P{
		font-size: 18px;
		font-weight: 400;
	}
	/**
	============================================
	HOME
	============================================
	*/


	/**
	============================================
	EMPRESA
	============================================
	*/

	/**
	============================================
	EMPRESA
	============================================
	*/

	/**
	============================================
	SERVICOS
	============================================
	*/

	.btn_orcamento {
    padding: 10px 2px;
    background: #354066;
    color: #fff;
		font-weight: 400;
		font-size: 17px;
}

.btn_orcamento:hover {
	color: #fff;
    background: #2d3759;
}
	/**
	============================================
	SERVICOS
	============================================
	*/


	.noticias_geral h1{
		font-size: 30px;
		color: #fff !important;
		font-family: 'Lato', sans-serif !important;
		font-weight: 300;
	}

	.noticias_geral h1 span{
		color: #fff !important;
		font-family: "Lato Black";
	}


.servico_Dentro{
	background: #fff;
}

	.servico_Dentro h1{
		font-size: 20px;
		font-family: "Lato Bold";
	}

	.servico_Dentro p{
		font-size: 22px;
	}




	/**
	============================================
	NOTICIAS
	============================================
	*/
	.noticia_Dentro h1{
		font-size: 30px;
		font-weight: 300;
	}

	.noticia_Dentro p{
		font-size: 22px;
	}


	/**
	============================================
	NOTICIAS
	============================================
	*/

	/**
	============================================
	FALE CONOSCO
	============================================
	*/
	.btn_formulario{
		border-radius: 0;
		font-size: 20px;
		color: #fff;
		padding: 15px 25px;
		background: #ed3237;
	}
	.fundo-form1{
		background: none;
		border-bottom: 1px solid #000;
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}

	.fundo_formulario .form-control:focus{
		border-color: #414244;
	}

	.fundo_formulario .has-feedback .form-control {
    padding-left: 40px;
}

.form-inline .has-feedback .form-control-feedback {
    left: 0;
}


	.btn_formulario:hover{
		color: #fff;
		background: #bc302f;
		opacity: 1;
	}

	.btn_formulario1{
		border-radius: 0;
		font-size: 20px;
		color: #fff;
		font-weight: 400;
		padding: 15px 25px;
		background: #444c69;
	}

	.btn_formulario1:hover{
		color: #fff;
		background: #3a425c;
	}

	.contatos-btn-opcoes a.active {
		background: #ff0000;
	}
	.contatos-btn-opcoes a {
		font-size: 20px;
		color: #fff;
		background: #f6989b;
		display: block;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 10px;
	}

	.contatos-btn-opcoes a span {
		font-size: 21px;
		font-weight: 400;
		text-decoration: none;
	}



	.contato_dados h1{
		margin-top: 10px;
		margin-bottom: 0;
	}

	.sombra_fale {
		z-index: 99999;
		position: absolute;
		bottom: -27px;
		height: 28px;
		background: url(../imgs/sombra_dicas_geral1.png) center;
		width: 100%;
	}
	.contato_dados h1 span{
		font-size: 25px;

	}

	.dicas_Dentro {
		background: #eaeaea;
		position: relative;
		background: #eaeaea;
		position: relative;

	}
}
/**
============================================
FALE CONOSCO
============================================
*/


/**
============================================
ORCAMENTOS
============================================
*/
.tabela_carrinho thead th{background:#d41f2b;padding:10px 5px;}
.tabela_carrinho table{font-size:15px;color:#000;font-weight:400; height: 100px;}
.tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{font-size: 14px;vertical-align:middle;border-bottom:1px solid #444c69;padding:10px 5px;}
.fa-times-circle::before{
	color:#ff0000;
	text-shadow:-1px 2px 2px #000000;

}
.bg_cinza{
	background: #eaeaea;
	overflow: hidden;
}


.tabela_carrinho h3,.fundo_formulario h3{
	color: #000;
	font-size: 25px;
	margin-bottom: 20	px;
	font-family: "Lato Bold";
}

.input-lista-prod-orcamentos {
	width: 40px;
	min-height: 36px !important;
	text-align: center;
	background: #444c69;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 13px;
}

.carrinho_servcos{
	width: 46px;
	height: 32px	;
}

.borda .media{
	border-bottom: 1px solid #cccccc;
	padding-bottom: 14px;
	height: 79px;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 14px;
	height: 79px;
}



.borda_home .media{
	border-bottom: 1px solid #cccccc;
	padding-bottom: 14px;
	max-height: 128px;
	width: 428px;
	padding-bottom: 14px;
	max-height: 128px;
	width: 428px;
}

.img_home_lojas {
	width: 421px;
}
.img_home_lojas {
	width: 421px;
}

/**
============================================
ORCAMENTOS
============================================
*/



/**
============================================
Pinterest-like Responsive Grid
============================================
*/

#pinBoot {
	position: relative;
	max-width: 100%;
	width: 100%;
}
.pintrest iframe {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.pintrest img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.white-panel {
	position: absolute;
	background: white;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	padding: 10px;
}

.white-panel:hover {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	margin-top: -5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/*
stylize any heading tags withing white-panel below
*/


.desc_prod h1{
	margin-bottom: 10px;
}
.desc_prod h1{
	margin-bottom: 10px;
}


.btn-busca-prod{
	height: 50px;
	line-height: 50px;
	border-radius: 0px !important;
}

.total-resultado-busca h1,.total-resultado-busca h1 span{
	font-family:"Lato Black";
	font-size: 24px;
	color: #fff;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
	margin-left: -1px;
	height: 51px;
}


.produtos_dentro .touchcarousel {
	position: relative;
	width: 100%;
	height: 90px;
	overflow: hidden;
}

.produtos_dentro .touchcarousel .touchcarousel-item {
	margin: 22px 0px;
	padding: 0px 3px;
	float: left;
}


#accordion-lista-lojas .panel-default>.panel-heading{
	color: #333;
	background-color: #FFFF01;
	border-color: #FFFF01;
	border-radius: 0px;
}

.form-inline .has-feedback .form-control-feedback {
    top: 0;
    z-index: -1;
}


/**
============================================
PRODUTOS
============================================
*/

.btn-busca-prod {
    height: 40px;
		border: 1px solid #c2c2c2;
    line-height: 50px;
    border-radius: 0px !important;
}

.btn-drop {
    font-weight: 300;
    font-size: 20px;
    color: #000;
    background: #fff;
}

.busca .input-group-btn:last-child>.btn,
.busca .input-group-btn:last-child>.btn-group {
    margin-left: -1px;
    height: 42px;
}

.total-resultado-busca h1, .total-resultado-busca h1 span {
    font-family: "Lato Black";
    font-size: 24px;
    color: #c2c2c2;
}

.categorias_home .list-group-item:first-child,
.categorias_home .list-group-item:last-child{
	border-top-left-radius:0px !important;border-top-right-radius:0px !important;}
.categorias_home .list-group-item.active,
.categorias_home .list-group-item.active:hover,
.categorias_home .list-group-item.active:focus{
	font-family: "Lato Black";z-index:2;color:#000;font-size:17px;border:0px;background:#eeeeee url(../imgs/icon_categoria.png) right 5px center no-repeat;padding-right:45px;}
.categorias_home a.list-group-item{
	color:#494949;font-size:17px;background:#eeeeee;padding-right:45px;}
.categorias_home a.list-group-item:hover,
.categorias_home a.list-group-item.active,
.categorias_home a.list-group-item:focus{
	color:#494949;text-decoration:none;background:#cacacd url(../imgs/icon_categoria.png) right 5px center no-repeat;padding-right:45px;}
.categorias_home .list-group-item{
	border:none;}
.categorias_home h1{
	font-size: 18px;
	font-family: "Lato Bold";
}

.cat_titulo{
	background: #eeeeee;
	font-family: "Lato Black";
	font-size: 17px;
}

.img_prod_home img{
	border: 1px solid #d4d5d6;
	padding: 20px;
}

.img_prod_home a:hover img{
	opacity: .9;
	border: 1px solid #d4d5d6;
	padding: 20px;
}

.img_prod_produtos img{
	border: 1px solid #d4d5d6;
}

.img_prod_produtos a:hover img{
	opacity: .9;
	border: 1px solid #d4d5d6;
}

.descricao_tipo_produto h1 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin: inherit;
    text-shadow: 0px 1px 4px #000000;
    color: #fff;
    font-weight: 700;
    margin: inherit;
    text-shadow: 0px 1px 4px #000000;
}

.btn_prod{
	cursor: none;
	padding: 5px 10px;
    background:#d1d1d1;
		font-weight  : 400;
		color: #354066;
		font-family: 'Lato', sans-serif !important;
}

.descricao_prod h2 span{
	color: #000000;
	font-size    : 15px;
	font-weight: 400;
	font-family: 'Lato', sans-serif !important;
}

.relativo i{
	color: #6f6f6f;
}

.telefones .telefone_rodape p{
	color: #fff;
	font-size    : 26px;
	font-family: "Lato Bold";
}

.telefones .telefone_rodape p span{
    font-size: 20px;
		font-weight: 300;
		font-family: 'Lato', sans-serif !important;
}

.produtos_dentro_desc p{
	font-size: 15px;
	font-weight: 400;
}

.img_slider{
	border: 1px solid #919191;
	border-radius: 5px;
}


.ordenar_por{
	/*background:none; url(../imgs/sombra_cat.png) bottom center no-repeat*/;*/
	width:271px !important;
	border-radius: 0;
	padding:15px;
	margin: 0;
}

.ordenar_por h1{
	font-size: 15px;
	color: #000;
}

.ordenar_por{
	min-width: 269px;
}

.ordenar_por .list-group-item {
	text-decoration: none;
	background: none;
	border: inherit;
}

.ordenar_por .list-group-item:hover,
.ordenar_por a.list-group-item:focus,
.ordenar_por a.list-group-item.active {
	background-color: none;
	color: #3c3834;
}

.btn_filtro_marcas{
	padding: 10px 30px;
	background: none;
	font-size: 14px;
	font-weight: 400;
	color: #6e6e6e;
	border: 1px solid #cecece;

}

.slider_prod_geral #slider{margin:0;}
.slider_prod_geral #carousel{margin:0 0 -5px;}
.slider_prod_geral #carousel li{width:77px!important;margin-right:5px;}
.slider_prod_geral .slider-prod{height:300px;overflow:hidden;}
.slider-prod-tumb{height:127px;overflow:hidden;}
.slider_prod_geral .slider-prod-tumb li img{height:64px!important;width:83px!important;}
.slider_prod_geral .flex-control-paging li a{width:0!important;height:0!important;}
.slider_prod_geral .flex-direction-nav a{width:45px;height:45px!important;top:50%;}
.slider_prod_geral #carousel .flex-direction-nav a{width:45px;height:45px!important;top:30%;}
.slider_prod_geral #slider {margin: 0 0 0px;}
.slider_prod_geral .zoom a {cursor: -webkit-zoom-in;}
.slider-prod-tumb .flexslider .slides img,.slider-prod li img{height:100%;}
.slider_prod_geral #carousel img:hover {
    opacity: .5;
}

.slider_prod_geral #carousel img {
    display: block;
    opacity: 1;
    cursor: pointer;
}

/**
============================================
PRODUTOS
============================================
*/



.preco{
	color: #ff0000 !important;
	font-size: 25px !important;
	font-family:"Lato Black" !important;
}

.preco span{
	font-size: 14px !important;
}
