@charset "utf-8";@import url('./fonts.css');*{margin:0;padding:0;text-decoration:none;}
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top5{margin-top:5px;}
.top7{margin-top:7px;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top25{margin-top:25px;}
.top30{margin-top:30px;}
.top35{margin-top:35px;}
.top40{margin-top:40px;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top95{margin-top:95px;}
.top100{margin-top:100px;}
.top105{margin-top:105px;}
.top120{margin-top:120px;}
.top120{margin-top:120px;}
.top140{margin-top:140px;}
.top150{margin-top:150px;}
.top170{margin-top:170px;}
.top175{margin-top:175px;}
.top180{margin-top:180px !important;}
.top195{margin-top:195px;}
.top210{margin-top:210px !important;}
.top220{margin-top:220px !important;}
.top425{margin-top:425px !important;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left130{margin-left:130px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right130{margin-right:130px;}

.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt170{padding-top:170px;}
.pt300{padding-top:300px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}


.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}
.container{max-width:480px;}
.input100{width:100% !important;}


.pg10{padding: 10px !important;}

body{
  font-weight:400;
  font-family: 'Lato', sans-serif !important;
  text-align: justify;
}

h1 {
  font-size: 12px;
  color: #000;
}

h1 span {

}

h2 {
  font-size: 20px;
  color: #000;
  font-family:"Lato Black";
}



h3 {
  font-size: 18px;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h3 span{
  font-family:"Lato Black";
}

h4 {
  font-size: 18px;
  color: #000;
  font-family: 'Lato', sans-serif !important;
  font-weight: 300;
}

h4 span{
  font-family:"Lato Black";
}


h5 {

}

h5 span{

}

h6{
  /*font-size: 20px;
  color: #fff;
  font-weight: 400;
  text-shadow:1px 2px 5px #0f0f0f;*/
}

h6 span{

}



p{
  font-size: 17px;
  color: #000;
  text-align:justify;
  font-weight: 300;
}

p span{
  font-size: 18px;

}


.font-futura{
  font-family:futura__condensed;
}

.lato_bold{
  font-family:"Lato Bold";}

  .MyriadPro_Regular{
    font-family:MyriadPro-Regular;}

    .lato_black{
      font-family:"Lato Black";
    }

    a:hover{
      text-decoration: none !important;
    }

    .media-left,
    .media-right,
    .media-body {
      vertical-align: middle !important;
    }

    .relativo{
      position: relative;
    }

    input,
    select,
    textarea{
      min-height: 50px;
      color:#000;
      border-top: 2px solid #000;
      border-radius: 0 !important;
      font-size: 15px;
      font-weight: 300;
    }

    ::-webkit-input-placeholder {
      color      : #000;
      font-family:"Lato Bold";
      font-size  : 20px;
    }

    :-moz-placeholder {
      color      : #000;
      font-family:"Lato Bold";
      font-size  : 20px;
    }

    ::-moz-placeholder {
      color      : #000;
      font-family:"Lato Bold";
      font-size  : 20px;
    }

    :-ms-input-placeholder {
      color      : #000;
      font-family:"Lato Bold";
      font-size  : 20px;
    }

    .btn{
      border-radius: 0px;
    }

    .padding0{
      padding: 0px;
    }
    /**
    ============================================
    TOPO
    ============================================
    */

    .topo-site {
      position: absolute;
      top: 0px;
      z-index: 1;
      width: 100%;
    }



    .topo{
      height: 60px;
      background: #ed3237;
      position: relative;
      z-index: 999;
    }

    .btn_carrinho{
      background: #fff !important;
      -webkit-appearance: inherit !important;
    }

    .carrinho_servcos {
      width: 40px;
      height: 30px;
    }

    .carrinho_servcos_orcamento {
      width: 62px;
      height: 50px;
    }

    .servicos_dentros {
      margin-bottom: 20px;
      width: 60px;
      height: 60px;
    }

    .icon_telefone h2{
      font-size: 20px;
      font-family:"Lato Bold";
      color: #000;

    }
    .icon_telefone img{
      height: 40px;
    }

    .lista-menu a {
      display: block;
      text-align: left;
      color: #000;
    }

    .btn_transparente_topo,
    .btn_transparente_topo:hover {
      color: #fff;
      font-family:futura__condensed;
      font-size: 20px;
      background: #354066;
      padding: 2px 10px;
    }

    .btn_transparente_contatos,
    .btn_transparente_contatos:hover {
      color: #fff;
      font-family:futura__condensed;
      font-size: 17px;
      padding: 2px 10px;
    }



    .btn_localizacao{
      background: #ffff01 !important;
      color: #000;
      font-weight: 400;
      font-size: 12px !important;
      padding: 6px 16px;
    }

    .bg_roxo{
      background: #444c69;
      height: 50px;
    }




    .busca .input-group-btn:last-child>.btn,
    .busca .input-group-btn:last-child>.btn-group{
      background: #354066;
      color: #fff;
      height: 50px;
      width: 70px;
    }

  .btn_busca_marcas a{
      background: #354066;
      color: #fff;
      padding: 15px 30px;;
 font-size: 15px;
    }

    .btn_busca_marcas a:hover{
      background: #3d4660;
      color: #fff;
    }

    .btn_busca_marcas .fa-angle-down:before {
    font-size: 20px;
}

    .bg_roxo select.input-lg,
    .bg_roxo select.form-group-lg .form-control {
      height: 51px;
      line-height: 51px;
      color: #fff;
      background: #444c69 url(../imgs/icon_menu_topo.png) left 10px center no-repeat;
      padding: 6px 0px 6px 37px;
      font-family:"Lato Black";
      font-size: 15px;
    }


    .topo-meu-orcamento{
      background:#fff;
      width:470px !important;
      margin-right:-4px;
      padding:15px;
    }


    .lista-itens-carrinho{
      margin: 10px 0px;
      overflow: hidden;
      border-bottom: 2px solid #e5e5e5;
      margin-bottom: 20px;
    }


    .lista-itens-carrinho h1{
      font-size: 20px !important;
    }


    .menu a{
      font-size: 18px;
      color: #000;
    }

    /**
    ============================================
    TOPO
    ============================================
    */
    /**
    ============================================
    HOME
    ============================================
    */
    .carroucel-home .carousel-caption{
      text-align: left;
      z-index: 10;
      bottom: inherit;
      top: 200px;
      right: 0;
      left: 20px;
    }
    .carroucel-home .carousel-inner > .item > img{position:absolute;top:0;left:0;width:100%;height:348px;}
    .carroucel-home{position:relative;}
    .carroucel-home .carousel-indicators{position:absolute;top:405px;left:68%;z-index:20;width:24%;}
    .carroucel-home li{opacity:0.5;width:20px;height:20px;background:#9a9fb2;border:0;margin:3px!important;}
    .carroucel-home li.active{opacity:1;width:20px;height:20px;background:#354066;border:0;margin:3px!important;}
    .carroucel-home .carousel-control{opacity:1;color:#fff;font-size:40px;top:402px;width:20px;z-index:999;}
    .carroucel-home span.fa-angle-right{right:166px;font-size: 30px;color:#354066;position:absolute;}
    .carroucel-home span.fa-angle-left{left:166px;font-size: 30px;color:#354066;position:absolute;}
    .carroucel-home .carousel-control:hover{color:#fff;opacity:0.5;}
    .carroucel-home .carousel,.carroucel-home .carousel .item{height:348px;}

    .carroucel-home .carousel-caption h1{
      font-size: 20px;
      color: #fff;
      font-family:"Lato Black";
      text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
    }



    #carousel-example-generic-clientes .carousel-indicators,.slider-parceiros-clientes .carousel-indicators,#carousel-example-generic-clientes .carousel-indicators,.slider-parceiros-clientes .carousel-indicators{bottom:-50px;}
    #carousel-example-generic-clientes .carousel-indicators li,.slider-parceiros-clientes .carousel-indicators li,#carousel-example-generic-clientes .carousel-indicators li,.slider-parceiros-clientes .carousel-indicators li,#carousel-example-generic-empresa .carousel-indicators li,.slider-parceiros-empresa .carousel-indicators li{width:0px;height:0px;background:#7f7f7f;border:none;margin-right:5px!important;}
    #carousel-example-generic-clientes .carousel-indicators .active,.slider-parceiros-clientes .carousel-indicators .active,#carousel-example-generic-clientes .carousel-indicators .active,.slider-parceiros-clientes .carousel-indicators .active,#carousel-example-generic-empresa .carousel-indicators .active,.slider-parceiros-empresa .carousel-indicators .active{background:#000;margin:1px;}
    #carousel-example-generic-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-empresa .carousel-control.left,#carousel-example-generic-empresa .carousel-control.right,.slider-parceiros-empresa .carousel-control.left,.slider-parceiros-empresa .carousel-control.right{background:none;}
    #carousel-example-generic-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.left{left:133px;top:inherit;bottom:-47px;width:25px;height:25px;z-index:100;}
    #carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.right{right:133px;top:inherit;bottom:-61px;width:40px;height:40px;z-index:100;}
    #carousel-example-generic-clientes .fa-chevron-left,#carousel-example-generic-clientes .fa-chevron-right,.slider-parceiros-clientes .fa-chevron-left,.slider-parceiros-clientes .fa-chevron-right,#carousel-example-generic-clientes .fa-chevron-left,#carousel-example-generic-clientes .fa-chevron-right,.slider-parceiros-clientes .fa-chevron-left,.slider-parceiros-clientes .fa-chevron-right,#carousel-example-generic-empresa .fa-chevron-left,#carousel-example-generic-empresa .fa-chevron-right,.slider-parceiros-empresa .fa-chevron-left,.slider-parceiros-empresa .fa-chevron-right{font-size:0px;color:#000;}



    .div_personalizada{
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }


    .fundo_cinza{
      background: #dcdcdc;
    }

    .fundo_cinza img{
      margin-top: -27px;
      margin-left: 5px;
    }

    .fundo_cinza h2{
      font-size: 15px;
    }

    .fundo_cinza h2 span{
      font-size: 10px;
    }


    .lista-produtos-index ul{
      border: 1px solid #cecece;

    }

    .lista-produtos-index .nav-tabs>li>a{
      color: #6e6e6e;
      border: none;
      border-radius: 0;
      font-size: 12px;
      margin: 0;
      padding: 10px 22px;
    }

    .lista-produtos-index .nav-tabs>li.active>a,
    .lista-produtos-index .nav-tabs>li.active>a:hover,
    .lista-produtos-index .nav-tabs>li.active>a:focus,
    .lista-produtos-index .nav-tabs>li>a:hover{
      background: #354066;
      color: #FFF;
      border: 0;
      margin: 0;
      font-size: 12px;
      padding: 10px 23px;
    }


    .lista-produto {
      border: 1px solid #cfcfcf;
      padding: 5px 0px 0px 5px;
      margin-bottom: 20px;
      background: #fff;
    }

    .lista-produto h1 {
      height: 35px;
      overflow: hidden;
      margin-top: 10px;
    }

    .lista-produto h2 {
    font-size: 15px;
    }
    .lista-produto p{
      margin-bottom: 5px;
    }

    .img_prod_home img{
      border: 1px solid #d4d5d6;
      padding: 10px;
    }

    .img_prod_home a:hover img{
      opacity: .9;
      border: 1px solid #d4d5d6;
      padding: 10px;
    }

    .btn-carrinho-saiba-mais{
      background: #eeeeee;
      font-size: 11px;
      color: #000;
      font-family: "Lato Black";
      height: 36px;
      line-height: 36px;
      margin-left: -5px;
      width: 158px;
      padding-left: 10px;
    }

    .btn-carrinho-saiba-mais:hover {
      background: #d4d5d6;
      color: #000;
    }


    .empresa_titulo h3 {
      background: url(../imgs/borda_titulo.png) bottom left no-repeat;
    }

    .empresa_titulo_home h3 {
      background: url(../imgs/disk_empresa.png) center no-repeat;
      height: 60px;
      font-size: 14px;
    }

    .empresa_titulo_home p{
      font-weight: 400;
    }

    .empresa_titulo1 h3 {
      padding-bottom: 15px;
      background: url(../imgs/barra_empresa.jpg) bottom left no-repeat;
    }



    .servicos  h1{
      font-family: "Lato Bold";
      font-size: 14px;
    }

    .bg_branco img{
      width: 42px;
      height: 45px;
    }

    .dicas_titulo h1 {
      font-size: 21px;
      color: #000;
      font-family: 'Lato', sans-serif !important;
      font-weight: 300;
      line-height: 24px;
    }

    .dicas_titulo h1 span{
      font-size: 35px;
      color: #000;
      font-family: "Lato Black";
    }

    .dicas_geral h1 span{
      font-size: 20px;
      color: #000;
      font-weight: 300;
    }


    .dicas_geral .thumbnail {
      padding: 0;
    }

    .dicas_geral h1 span {
      font-size: 15px;
      color: #000;
      font-weight: 400;
    }

    .leia_mais_dicas {
      font-size: 14px;
      color: #888888;
    }
    /**
    ============================================
    HOME
    ============================================
    */


    /**
    ============================================
    SERVICOS
    ============================================
    */
    .servico_Dentro h1{
      font-size: 20px;
      font-family: "Lato Bold";
    }

    .servico_Dentro p{
      font-size: 18px;
      font-weight: 400;
    }

    .btn_orcamento {
      padding: 10px 2px;
      background: #354066;
      color: #fff;
      font-weight: 400;
      font-size: 17px;
    }

    .btn_orcamento:hover {
      color: #fff;
      background: #2d3759;
    }

    /**
    ============================================
    SERVICOS
    ============================================
    */


    /**
    ============================================
    rodape
    ============================================
    */

    .bg-fundo-preto p {
      color: #fff;
      font-weight: 400;
      padding: 10px 0px;
      text-align: center;
    }
    .bg-fundo-preto {
      position: relative;
      background: #000;
    }

    .icon-rodape {
      color: #fff;
    }
    /**
    ============================================
    rodape
    ============================================
    */

    /**
    ============================================
    ORCAMENTOS
    ============================================
    */

    .tabela_carrinho thead th{background:#d41f2b;padding:10px 5px;}
    .tabela_carrinho table{font-size:15px;color:#000;font-weight:400; height: 100px;}
    .tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{font-size: 14px;vertical-align:middle;border-bottom:1px solid #444c69;padding:10px 5px;}
    .fa-times-circle::before{
      color:#ff0000;
      text-shadow:-1px 2px 2px #000000;

    }
    .bg_cinza{
      background: #eaeaea;
      overflow: hidden;
    }


    .tabela_carrinho h3,
    .fundo_formulario h3{
      color: #000;
      font-size: 25px;
      margin-bottom: 20px;
      font-family: "Lato Bold";
    }

    .input-lista-prod-orcamentos {
      width: 40px;
      min-height: 36px !important;
      text-align: center;
      background: #444c69;
      color: #fff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      font-size: 13px;
    }

    .carrinho_servcos{
      width: 46px;
      height: 32px;
    }
    /**
    ============================================
    ORCAMENTOS
    ============================================
    */



    /**
    ============================================
    EMPRESA
    ============================================
    */


    /*breadcrumb  branco*/
    .breadcrumbs_branco .breadcrumb {
      font-size    :21px;
      background   : none;
      padding: 15px;
      margin-left: -38px;
      color: #fff;
    }


    .breadcrumbs_branco .breadcrumb i{
      border-radius: 50%;
      border       : 1px solid #fff;
      padding      :5px;
      color: #fff;
    }

    .breadcrumbs_branco .breadcrumb a i:hover{
      color: #444c69;
    }

    .breadcrumbs_branco .breadcrumb i:hover,
    .breadcrumbs_branco .breadcrumb a:hover{
      color:#fff;
    }

    .breadcrumbs_branco .breadcrumb>.active {
      color: #fff;
    }

    .breadcrumbs_branco .breadcrumb a {
      text-decoration: none;
      outline        : none;
      display        : block;
      float          : left;
      font-size      : 20px;
      font-family: "Lato Bold";
      line-height    : 36px;
      color          : #fff;
      padding        : 0 10px 0 24px;
      position       : relative;
    }

    .breadcrumbs_branco .breadcrumb a:hover {
      color          : #fff;
    }

    .breadcrumbs_branco .breadcrumb a:after {
      content : '';
      position: absolute;
      top     : 7px;
      right : -10px;
      width : 20px;
      height: 20px;
      transform: scale(0.707) rotate(45deg);
      z-index: 1;
      box-shadow: 2px -2px 0 2px rgba(255, 255, 255, 0.1),
      2px -2px 0 1px rgba(255, 255, 255,1);
      border-radius: 0 5px 0 50px;
    }

    .breadcrumbs_branco .breadcrumb a:last-child:after {
      content: none;
    }



    /*breadcrumb  preto*/
    .breadcrumbs_preto .breadcrumb {
      font-size    :21px;
      background   : none;
      padding: 15px;
      margin-left: -38px;
      color: #000;
    }


    .breadcrumbs_preto .breadcrumb i{
      border-radius: 50%;
      border       : 1px solid #000;
      padding      :5px;
      color: #000;
    }

    .breadcrumbs_preto .breadcrumb a i:hover{
      color: #444c69;
    }

    .breadcrumbs_preto .breadcrumb i:hover,
    .breadcrumbs_preto .breadcrumb a:hover{
      color:#000;
    }

    .breadcrumbs_preto .breadcrumb>.active {
      color: #000;
    }

    .breadcrumbs_preto .breadcrumb a {
      text-decoration: none;
      outline        : none;
      display        : block;
      float          : left;
      font-size      : 20px;
      font-family: "Lato Bold";
      line-height    : 36px;
      color          : #000;
      padding        : 0 10px 0 24px;
      position       : relative;
    }

    .breadcrumbs_preto .breadcrumb a:hover {
      color          : #000;
    }

    .breadcrumbs_preto .breadcrumb a:after {
      content : '';
      position: absolute;
      top     : 7px;
      right : -10px;
      width : 20px;
      height: 20px;
      transform: scale(0.707) rotate(45deg);
      z-index: 1;
      box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.1),
      2px -2px 0 1px rgba(0, 0, 0,1);
      border-radius: 0 5px 0 50px;
    }

    .breadcrumbs_preto .breadcrumb a:last-child:after {
      content: none;
    }


    .empresa_geral h3 {
      font-size: 30px;
      color: #000;
      font-family: 'Lato', sans-serif !important;
      font-weight: 300;
    }

    .empresa_geral h3 span{
      font-family:"Lato Black";
    }

    .empresa_geral_barra h3 {
      font-size: 30px;
      color: #000;
      font-family: 'Lato', sans-serif !important;
      font-weight: 300;
      padding-bottom: 15px;
      background: url(../imgs/borda_titulo.png) bottom left no-repeat;
    }

    .empresa_geral_barra h3 span{
      font-family:"Lato Black";
    }

    .servicos_geral h3 {
      font-size: 24px;
      color: #000;
      font-family: 'Lato', sans-serif !important;
      font-weight: 300;
    }

    .servicos_geral h3 span{
      font-family:"Lato Black";
    }

    .endereco_empresa .telefone_rodape p a{
      color: #000000;
      font-size    : 26px;
      font-family: "Lato Bold";
    }

    .endereco_empresa .telefone_rodape p a span{
      color: #000000;
      font-size    : 20px;
      font-weight: 300;
      font-family: 'Lato', sans-serif ;
    }

    .empresa_titulo1 h3 {
      padding-bottom: 15px;
      font-family:"Lato Black";
      font-size: 28px;
      background: url(../imgs/barra_empresa.jpg) bottom left no-repeat;
    }


    /**
    ============================================
    EMPRESA
    ============================================
    */





    /**
    ============================================
    Pinterest-like Responsive Grid
    ============================================
    */

    #pinBoot {
      position: relative;
      max-width: 100%;
      width: 100%;
    }
    .pintrest iframe {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    .pintrest img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .white-panel {
      position: absolute;
      background: white;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
      padding: 10px;
    }

    .white-panel:hover {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
      margin-top: -5px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    /*
    stylize any heading tags withing white-panel below
    */


    /**
    ============================================
    FALE CONOSCO
    ============================================
    */

    .fundo-form1 {
      background: none;
      border-top: 1px solid #000;
      border-left: 0;
      border-right: 0;
    }

    .btn_formulario1{
      border-radius: 0;
      font-size: 16px;
      color: #fff;
      font-weight: 400;
      padding: 15px 25px;
      background: #444c69;
    }

    .btn_formulario1:hover{
      color: #fff;
      background: #3a425c;
    }
    /**
    ============================================
    FALE CONOSCO
    ============================================
    */

    /**
    ============================================
    NOTICIAS
    ============================================
    */

    .noticias_geral h1{
      font-size: 30px;
      color: #fff !important;
      font-family: 'Lato', sans-serif !important;
      font-weight: 300;
    }

    .noticias_geral h1 span{
      color: #fff !important;
      font-family: "Lato Black";
    }

    .noticia_Dentro h1{
      font-size: 20px;
      font-weight: 400;
    }

    .noticia_Dentro p{
      font-size: 18px;
      font-weight: 400;
    }


    /**
    ============================================
    NOTICIAS
    ============================================
    */

    /**
    ============================================
    PRODUTOS
    ============================================
    */
    .total-resultado-busca h1 {
      font-size: 25px;
      color: #000;
      font-family: "Lato Black";
    }

    .selectpicker{
      width: 100%;
      border: 1px solid #000;
    }

    .barra_produto h3 {
      font-size: 23px;
      padding-bottom: 15px;
      background: url(../imgs/barra_produto.jpg) bottom left no-repeat;
    }

    .produtos_dentro .touchcarousel {
      position: relative;
      width: 100%;
      height: 90px;
      overflow: hidden;
    }

    .produtos_dentro .touchcarousel .touchcarousel-item {
      margin: 22px 0px;
      padding: 0px 3px;
      float: left;
    }



    .descricao_tipo_produto h1 {
      font-size: 18px;
      color: #000;
      font-weight: 400;
      margin: inherit;
    }

    .telefones .telefone_rodape p a{
      color: #000;
      font-size    : 26px;
      font-family: "Lato Bold";
    }

    .telefones .telefone_rodape p a span{
      font-size: 20px;
      font-weight: 300;
      font-family: 'Lato', sans-serif !important;
    }


    .descricao_prod h2 span{
      color: #000000;
      font-size    : 15px;
      font-weight: 400;
      font-family: 'Lato', sans-serif !important;
    }


    .btn_prod{
      cursor: none;
      padding: 5px 10px;
      background:#d1d1d1;
      font-weight  : 400;
      color: #354066;
      font-size: 14px;
      font-family: 'Lato', sans-serif !important;
    }

    .produtos_dentro_desc p{
      font-size: 15px;
      font-weight: 400;
    }

    .img_slider{
      border: 1px solid #919191;
      border-radius: 5px;
      width: 100% !important;
    }

    #todas_marcas_produtos{
      border: 1px solid #d8d8d8 !important;
    }


    .menu .stylish-input-group .form-control{
  		font-size:17px;
  		color:#000;
  		height:40px;
  		width: 100%;
  		border-radius:0px;
  		border:0;
  		border:1px solid #c8c8c8 ;
  		border-right: 0 !important	;
  		background:#fff ;
  	}

  	.menu .stylish-input-group button{
  		font-size:20px;
  		border:0;
  		background:#fff;
  	}

  	.menu .stylish-input-group .input-group-addon{
  		border:1px solid #c8c8c8 ;
  		border-left:0px ;
  		height:40px;
  		background:#fff;
  	}

    .img_prod_produtos img{
    	border: 1px solid #d4d5d6;
    }

    .img_prod_produtos a:hover img{
    	opacity: .9;
    	border: 1px solid #d4d5d6;
    }


    .slider_prod_geral #slider{margin:0;}
    .slider_prod_geral #carousel{margin:0 0 -5px;}
    .slider_prod_geral #carousel li{width:77px!important;margin-right:5px;}
    .slider_prod_geral .slider-prod{height:230px;overflow:hidden;}
    .slider-prod-tumb{height:65px;overflow:hidden;}
    .slider_prod_geral .slider-prod-tumb li img{height:64px!important;width:83px!important;}
    .slider_prod_geral .flex-control-paging li a{width:0!important;height:0!important;}
    .slider_prod_geral .flex-direction-nav a{width:45px;height:45px!important;top:50%;}
    .slider_prod_geral #carousel .flex-direction-nav a{width:45px;height:45px!important;top:50%;}
    .slider_prod_geral #slider {margin: 0 0 0px;}
    .slider_prod_geral .zoom a {cursor: -webkit-zoom-in;}
    .slider-prod-tumb .flexslider .slides img,.slider-prod li img{height:230px;}
    .slider_prod_geral #carousel img:hover {opacity: .5;}
    .slider_prod_geral #carousel img {display: block;opacity: 1;cursor: pointer;}
    /**
    ============================================
    PRODUTOS
    ============================================
    */




    .preco{
    	color: #ff0000 !important;
    	font-size: 20px !important;
    	font-family:"Lato Black" !important;
    }

    .preco span{
    	font-size: 12px !important;
    }
